.menu{
    background-color: antiquewhite;
    color: brown;font-family: "Angsana New"; font-size: 20px;

}
#head{
            text-shadow: darkred 5px 5px ; background-color:
                azure;font-family:Impact; color: cornflowerblue;
            font-size: 70px;
        }
#copyright
{
    font-family: "Arial Black";
    font-size: 10px;
    font-style: italic;
    background-color: #ffcf0a;
    color: brown;
}