{% extends 'common.html' %}
{% block alok %}
    {% load static %}
<html>
<style>
    #hed {
        background-color: lightgoldenrodyellow;
        text-shadow: yellow 5px 5px;
        font-size: 25px;
    }

      .one{ background-color: azure; font-family: sans-serif; color: darkred; width: 100px;

      }


</style>
<body>
    <table align="center"  border="1">

    <tr>
    <th  id="hed"colspan="6">Employee Details</th>
    </tr>

     </tr>
    <tr>
        <th class="one">idno</th>
        <th class="one">Name</th>
        <th class="one">City</th>
        <th class="one">Salary</th>
        <th class="one">Update</th>
        <th class="one">Delete</th>
    </tr>
    {% for x in data %}
    <tr>
        <th>{{ x.idno }}</th>
        <th>{{ x.Name }}</th>
        <th>{{ x.City }}</th>
        <th>{{ x.Salary }}</th>
        <th>
           <form action="{% url 'show_update' %}">
                <input type="hidden" name="t1" value="{{ x.idno }}">
                <button type="submit">Update</button>
            </form>
        </th>
        <th>
            <a href="{% url 'delete' %}?no={{ x.idno }}">
            <img src="{% static 'images/delete.png' %}"></a>
        </th>

    </tr>
    {% endfor %}
    </table>

{% endblock %}